* {
    box-sizing: border-box
}

#body {
    background-image: url("../images/wand.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }

#signout {
  float: right;
  /* position: fixed; */
}

#main-header {
  color: white;
  display: inline;
  /* position: fixed; */
}

#snake-img {
  height: 4em;
  width: 3em;
  display: inline;
  /* position: fixed; */
}

.container {
  opacity: .7;
  text-align: center;
}

/* .segment {
  opacity: .7;
} */

#leaderboard {
  color: white;
}

ul {
  list-style-type: none;
}

.spells {
  display: block;
  width: 100%;
}

#wins {
  opacity: .7;
  width: 20%;
  float: right;
}

#dark-magic-meter {
  color: #960106;
}

#duel-round-message {
  color: green;
  align-content: center;
  text-align: center;
  clear: both;
  margin-bottom: 25px;
  margin-top: 25px;
  font-family: 'Homemade Apple', cursive;
}

#player-score {
  float: right;
  color: white;
}

#player-name {
  color: #b2a4f2;
  text-align: center;
}

#voldy-score {
  float: right;
  color: white;
}

#voldy-name {
  color: #b2a4f2;
  text-align: center;
}

#page-1-subheader {
  opacity: 1;
}

.image-blurred-edge {
    background-image: url("../images/purpleflame.gif");
    width: 272px;
    height: 350px;
    box-shadow: 50px 50px 50px 50px black;
    color: white;
    margin: auto;
}

.cast-spell-name {
  margin: auto;
  text-align: center;
  padding: 110px 0;
  font-family: 'Homemade Apple', cursive;
  font-size: 20px;
}
