#body {
    background-image: url("../images/wand.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: black;
    /* background-color: #eef4e8; */
  }

.container {
  opacity: .7;
  text-align: center;
}

/* #page-1-container {
  margin-top: 100
} */

#page-1-subheader {
  opacity: 1;
}

#main-header {
  color: white;
  display: inline;
}

#snake-img {
  height: 3em;
  width: 3em;
}

#signout {
  float: right;
}

/* #header {
  font-family: 'Yatra One', cursive;
  font-weight: lighter;
  font-size: 1em;
  color: white;
}

#voldy-gif-div {
  display: inline-block;
  margin: 0 auto;
}

.voldy-gif {
  width: 33%;
  opacity: .35;
}

#main_div {
  margin: 1em auto;
  text-align: center;
  box-sizing: border-box;
  width: 55%;
  font-size: 2em;
  color: white;
  font-family: 'Rakkas', cursive;
} */
